# C/C++ Coding Style for generic Projects

# UseTab: (VS Code current setting)
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 2
ColumnLimit: 130
BreakBeforeBraces: Attach
PointerAlignment: Left
AccessModifierOffset: -2
#IndentPPDirectives: AfterHash
Cpp11BracedListStyle: true

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
IndentWrappedFunctionNames: false
AllowShortFunctionsOnASingleLine: Inline

SpacesBeforeTrailingComments: 2
FixNamespaceComments: true
ReflowComments: false

SortIncludes: false
SortUsingDeclarations: false
